body {
    text-align: center;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
}


h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px; 
}


#logo {
    height: 40%;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

#scores {
    margin-top: 50px; 
}


h2 {
    font-size: 25px;
    font-weight: bold; 
    padding: 10px;
}

h3 {
    font-size: 25px; 
    font-weight: bold;
    padding: 10px; 
}
.col-sm {
  border-style: solid;
  border-width: 5px;
  margin: 10px;
  min-height: 500px;  
  align-content: center;
}

.moves {
    border-style: solid; 
    border-color: black;
}


#chat-form {
    position: absolute; 
    bottom: 10px;
    width: 100%;
}

#chat-input {
    width: 70%;
}

.players-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.player-form {
    margin-top: 100px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
}

ul {
    width: 100%; 
    text-align: center;
    margin-top: 100px;  
}

li {
    color: black;
    border-style: double;
    border-width: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    padding: 10px;  
}
input {
    padding: 10px;
    margin: 5px;
}

.pick {
    margin: 10px;
}

.startButton { 
    padding: 20px; 
    padding-bottom: 40px;
    text-decoration: blink;
    margin-top: 80px; 
}