body {
    text-align: center;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;

}

#logo {
    height: 50%;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 10px;
}



h2 {
    font-size: 25px;
    font-weight: bold; 
    padding: 10px;
}

.col-sm {
  border-style: solid;
  border-width: 5px;
  margin: 10px;
  min-height: 400px;  
  align-content: center;
}


#chat-form {
    position: absolute; 
    bottom: 10px;
    width: 100%;
}

#chat-input {
    width: 70%;
}

.player-form {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
}
